<div class="wrapper">
    <form class="newNoteForm">
    <label for="createNoteFieldName">
        Label
        <input ngModel #noteLabel="ngModel" type="text" name="noteLabel" #createNoteFieldName class="createNoteField" required>
    </label>
    <label for="createNoteFieldCategory">
        Category
        <input type="text" name="createNoteFieldCategory" #createNoteFieldCategory class="createNoteField category">
    </label>
    <label for="createNoteFieldEndingTime">
        Ending time
        <input ngModel #noteEndingTime="ngModel" type="datetime-local" placeholder="yyyy-mm-dd --:--" name="noteEndingTime" #createNoteFieldEndingTime class="createNoteField endingTime" required pattern="([0-2][0-9]{3})\-([0-1][0-9])\-([0-3][0-9]) ([0-2][0-9])\:([0-5][0-9])">
    </label>
    <div class="categorySection">
        <button (click)="showCategoryList(categoryListItem)" class="createButton showCategoryList">Category</button>
        <ul #categoryListItem class="categoryList">
            <li (click)="showAllNotes()">All</li>
            <li *ngFor="let note of notesList | filterCategory" #categoryFromList (click)="notesListFiltering(note.category)">{{ note.category }}</li>
        </ul>
    </div>
    <input type="submit" value="Add" class="createButton" (click)="createNote(createNoteFieldName.value, createNoteFieldCategory.value, createNoteFieldEndingTime.value)">
    </form>
    <ngb-alert [dismissible]="false" [type]="'danger'" *ngIf="!noteLabel.valid && noteLabel.touched">Note label is required</ngb-alert>
    <ngb-alert [dismissible]="false" [type]="'danger'" *ngIf="!noteEndingTime.valid && noteEndingTime.touched">Ending time should match the pattern</ngb-alert>
    <table>
        <tr class="note">
            <td>Name</td>
            <td>Category</td>
            <td>Creation time</td>
            <td>Ending time</td>
            <td>Actions</td>
        </tr>
        <tr *ngFor="let note of notesList | filter" class="note">
            <td>
                <p *ngIf="!note.labelEditing" (dblclick)="labelEditing(note)">{{ note.label }}</p>
                <input *ngIf="note.labelEditing" type="text" (blur)="labelEditingDone(note)" (keyup.enter)="labelEditingDone(note)" [(ngModel)]="note.label" autofocus>
            </td>
            <td>
                <p *ngIf="!note.categoryEditing" (dblclick)="categoryEditing(note)">{{ note.category }}</p>
                <input *ngIf="note.categoryEditing" type="text" (blur)="categoryEditingDone(note)" (keyup.enter)="categoryEditingDone(note)" [(ngModel)]="note.category" autofocus>
            </td>
            <td class="noteCreationTime">{{ note.creationTime }}</td>
            <td class="noteEndingTime">{{ note.endingTime }}</td>
            <td><span (click)="deleteNote(note)" #closeButton class="closeButton">Delete</span></td>
        </tr>
    </table>
</div>