<div class="container-fluid">
    <h1>{{ 'greeting' | translate}}</h1>
    <div class="lang">
        <button class="btn btn-primary" (click)="changeLangToRu()">RU</button>
        <button class="btn btn-primary" (click)="changeLangToUa()">UA</button>
        <button class="btn btn-primary" (click)="changeLangToEn()">EN</button>
    </div>
    <input [(ngModel)]="searchField" type="text" class="form-control">
        <div class="row row-header">
                <div class="col-sm-1 border">Index</div>
                <div class="col-sm-1 border">Gender</div>
                <div class="col-sm-2 border">Name</div>
                <div class="col-sm-3 border">Email</div>
                <div class="col-sm-2 border">Login</div>
                <div class="col-sm-1 border">Picture</div>
                <div class="col-sm-2 border">Location</div>
        </div>
        <div *ngFor="let user of users | textFilter: searchField; let i = index;">
            <app-user class="row row-user" [user]="user" [index]="i"></app-user>
        </div>
</div>